/* COLOR */
:root {
  --inq-blue: #0088BD;
  --inq-yellow: #FFD303;
  --inq-white: #f7fbfd;
  --font-black: #1f1e1e;
  --title-font: 80px;
  --sub-title-font: 50px;
  --large-font: 40px;
  --mideum-font: 32px;
  --small-font: 20px;
  --btn-font: 30px
}
/* COMMON */
body {
  color: var(--font-black);
  font-size: var(--mideum-font);
  font-weight: 400;
  line-height: 1.4; /*글자의 행간을 줌 (줄높이)*/
  font-family: 'Noto Sans KR', sans-serif;
}
img {
  display: block;
  /* 이제 이미지는 더이상 인라인 요소가 아닌 블럭요소가 된다 */
}
a {
  /* 모든 a태그의 밑줄을 없애기 */
  text-decoration: none;
  color: var(--font-black);
}
a:hover {
  text-decoration: none;
  color: var(--font-black);
}
input,
select {
  font-size: var(--mideum-font);
}
.inner {
  width: 720px;
  margin: 0 auto;
  position: relative; /* 자식요소 때문에 position값을 넣는 것이기에 문제가 되지 않기 위해 relative로 함 */
}
/* Button */
.bton {
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  color: var(--font-black);
  background-color: transparent;
  font-size: var(--btn-font);
  font-weight: 500;
  text-align: center; /*박스 안에서 글자 가운데 정렬*/
  cursor: pointer;
  /* box-sizing: border-box; 패딩, 보더가 들어간 만큼 요소가 커지지 않도록 */
  display: block; /* a나 span태그에 버튼 클래스를 부여했을 때도 버튼이 정상적으로 나오도록 */
  transition: .4s; /* hover시 자연스럽게 색상이 바뀌도록 */
}
.bton:hover {
  background-color: var(--inq-yellow);
}
.bton.btn--reverse {
  background-color: var(--inq-yellow);
  border: 0;
  color: white;
}
.bton.btn--reverse:hover {
  background-color: #ffa703;
}
.bton.btn--blue {
  background-color: transparent;
  border: 2px solid var(--inq-blue);
  border-radius: 4px;
  color: var(--inq-blue);
}
.bton.btn--blue:hover {
  background-color: var(--inq-blue);
  color: var(--inq-white);
}
.bton.btn--blue-reverse {
  background-color: var(--inq-blue);
  border: 2px solid var(--inq-blue);
  border-radius: 4px;
  color: var(--inq-white);
}
.bton.btn--blue-reverse:hover {
  background-color: transparent;
  color: var(--inq-blue);
}
/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--inq-blue);
  z-index: 9;
}
header > .header-inner {
  height: 200px;
}
header .logo {
  /* height: 150px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  margin: auto;
}
header .logo img {
  height: 200px;
}
header .menu .login_name {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
/* Card */
.card {
  width: 600px;
  padding: 50px;
  /* border: 3px solid var(--inq-blue); */
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.card .card-body {
  margin-top: 50px;
}
.card .card-body .card-text.card-title {
  font-weight: 700;
  font-size: var(--large-font);
}
.card .card-body .card-text .card-info .info-left {
  margin:20px 0 20px 0;
}
.card .card-body .card-text .card-info .info-right .info-member {
  display: flex;
}
.card .card-body .card-text .card-info .info-right .info-member .symbol {
  font-size: 50px;
  color: #5b5b5b;
}
.card .card-body .card-text .card-info .info-right .info-member .member-personnel {
  margin-top: 7px;
  margin-left: 15px;
}