/* Cards */
.cards {

}
.cards .card-image {
  
}
.cards .image-full {

}
.cards .image-title {

}
.cards .card-info {
  display: flex;
}
.cards .card-info .info-left {

}
.cards .card-info .info-left  .info-recruit {

}
.cards .card-info .info-left .info-recruit .recruit-date {

}
.cards .card-info .info-right {

}
.cards .card-info .info-right .info-progress {

}
/* Member Information */
.member-info {
  margin-top: 200px;
  background-image: url("../images/home_back.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.member-info .inner {
  color: var(--font-black);
  width: 2000px;
  padding-top: 200px;
  /* margin: 0 auto;
  position: relative; */
}
.member-info .text-title {
  margin-bottom: 80px;
}
.member-info .text-title .title {
  font-size: var(--title-font);
  font-weight: 800;
}
.member-info .text-body {
  display: flex;
}
.member-info .text-body .row {
  position: relative;
  z-index: 8;
  height: 450px;
  /* background-color: var(--inq-white); */
  border-radius: 10px;
  /* opacity: 0.9; -> 배경 + 자식요소까지 투명해짐*/
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: rgba(255,255,255,0.9);
  /* rgba를 활용함으로 배경만 투명하게 함 */
}
.member-info .text-body .row .member-skill {
  width: 500px;
  height: 200px;
  margin: 40px;
}
.member-info .text-body .row .member-skill .skill-title {
  font-size: var(--sub-title-font);
  font-weight: 600;
}
.member-info .text-body .row .member-skill .skill-content {
  display: inline-block; 
  /* margin 부분 겹침으로 인해 margin 먹히지 않음 -> inline-block으로 변경으로 해결 */
  border-radius: 8px;
  background-color: var(--inq-yellow);
  /* 색상 랜덤으로 바뀌게 하고 싶음 */
  padding: 12px;
  margin-top: 20px;
}
.member-info .text-body .row .member-project {
  width: 1000px;
  height: 200px;
  margin: 40px;
}
.member-info .text-body .row .member-project .project-title {
  font-size: var(--sub-title-font);
  font-weight: 600;

}
.member-info .text-body .row .member-project .project-content {

}
.member-info .text-body .row .member-project .project-content .project-sildes {

}