/* Sign up */
.signup {
  margin-top: 300px;
}
.signup .inner {
  color: var(--inq-blue);
}
.signup .text-title {
  margin-bottom: 80px;
}
.signup .text-title .title {
  font-size: var(--large-font);
  font-weight: 800;
}
.signup .text-body {
  margin: 0 auto;
  position: relative;
}
.signup .text-body .row {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.signup .text-body .row .sub-title {
  margin-bottom: 18px ;
}
.signup .text-body .row input {
  width: 720px;
  height: 82px;
  padding-left: 30px;
  border: 2px solid var(--inq-blue);
  color: var(--inq-blue);
}
.signup .text-body .row select {
  width: 720px;
  height: 88px;
  padding-left: 30px;
  border: 2px solid var(--inq-blue);
  color: var(--inq-blue);
}
.signup .btn-row {
  position: absolute;
  width: 720px;
  right: 0;
	left: 0;
  margin: auto;
  margin-top: 50px;
  padding-left: 180px;
}
.signup .btn-row input {
  width: 390px;
  height: 82px;
  margin-bottom: 300px;
}
/* Modal */
.signup .text-body .row .modal-btn .btn {
  width: 250px;
  padding: 10px;
  font-size: var(--btn-font);
}
.signup .text-body .row .modal-dialog.modal-dialog-centered .modal-content .modal-header h5 {
  padding: 12px;
  font-weight: 700;
  font-size: var(--large-font);
}
.signup .text-body .row .modal-dialog.modal-dialog-centered .modal-content .modal-header button span {
  font-size: 45px;
}
.signup .text-body .row .modal-dialog.modal-dialog-centered .modal-content .modal-body {
  display: flex;
  flex-wrap: wrap;
}
.signup .text-body .row .modal-dialog.modal-dialog-centered .modal-content .modal-body .check-box input {
  width: 40px;
  height: 40px;
  margin: 30px 8px 25px 30px;
}