/* Sign up */
.signup {
  margin-top: 300px;
}
.signup .inner {
  color: var(--inq-blue);
}
.signup .text-title {
  margin-bottom: 80px;
}
.signup .text-title .title {
  font-size: var(--large-font);
  font-weight: 800;
}
.signup .text-body {
  margin: 0 auto;
  position: relative;
}
.signup .text-body .row {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.signup .text-body .row .sub-title {
  margin-bottom: 18px ;
}
.signup .text-body .row input {
  width: 720px;
  height: 82px;
  padding-left: 30px;
  border: 2px solid var(--inq-blue);
  color: var(--inq-blue);
}
.signup .text-body .row select {
  width: 756px;
  height: 88px;
  padding-left: 30px;
  border: 2px solid var(--inq-blue);
  color: var(--inq-blue);
}
.signup .btn-row {
  position: absolute;
  width: 720px;
  right: 0;
	left: 0;
  margin: auto;
  margin-top: 50px;
  padding-left: 180px;
}
.signup .btn-row input {
  width: 390px;
  height: 82px;
  margin-bottom: 300px;
}
/* Modal */
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.25); */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(1.5px); */
  /* -webkit-backdrop-filter: blur(1.5px); */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
#modal .modal-window {
  background: rgba( 69, 139, 197, 0.70 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 600px;
  height: 600px;
  position: relative;
  top: -100px;
  padding: 10px;
}
#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;
}
#modal .title h2 {
  display: inline;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: white;
}